.div {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
    padding: 0 20px;
  }
  .div-2 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-2 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .img {
    aspect-ratio: 1.42;
    object-fit: cover;
    object-position: center;
    width: 100%;
    margin-top: 20px;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-3 {
    position: relative;
    margin-top: 20px;
    height: auto;
  }
  .div-4 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-4 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .div-5 {
    position: relative;
    margin-top: 20px;
    height: auto;
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-6 {
    position: relative;
    margin-top: 20px;
    height: auto;
  }
  .img-2 {
    aspect-ratio: 4.15;
    object-fit: cover;
    object-position: center;
    width: 100%;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
    max-width: 1049px;
    margin: 20px auto 0;
  }
  .div-7 {
    position: relative;
    margin-top: 20px;
    height: auto;
  }