/* Navbar.css */
.navbar {
    background-color: #0056b3;
    /* A shade of blue */
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: white;
}

.navbarLinks {
    display: flex;
}

.navLink {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 1.2rem;
}

.navLink:hover {
    text-decoration: underline;
}

/* Navbar.css additions */
.navLinkSpecial {
    background-color: white;
    color: #0056b3;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-left: 1rem;
    transition: background-color 0.3s ease;
}

.navLinkSpecial:hover {
    background-color: #e1f5fe;
    color: #002171;
}

.navbarLogo {
    color: white;
    /* Adjust color to fit your navbar's theme */
    text-decoration: none;
    /* Removes underline from links */
    font-size: 2rem;
    /* Adjust based on your preference */
    font-weight: bold;
    /* Makes the text thicker */
    margin-right: auto;
    /* Pushes everything else to the opposite side of the navbar */
    display: flex;
    /* Enables alignment properties */
    align-items: center;
    /* Vertically centers the logo with items in the navbar */
}

/* If using an image logo instead */
.logoImage {
    height: 50px;
    /* Adjust based on your navbar height, maintains aspect ratio */
    width: auto;
    /* Adjusts width automatically to maintain aspect ratio */
    display: block;
    /* Removes bottom margin/padding inherent to inline elements */
    margin-right: auto;
    /* For positioning, if needed */
}