.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0056b3; /* Updated to the specified color */
    color: white;
}

.navbarLogo {
    display: flex;
    align-items: center;
}

.logoImage {
    height: 40px;
}

.navbarLinks {
    display: flex;
    align-items: center;
}

.navLink {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.navLink:hover {
    color: #ffd700;
}

.navLinkSpecial {
    color: white;
    background-color: #007bff; /* Keeping the special button consistent */
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.navLinkSpecial:hover {
    background-color: #0056b3; /* Matching hover color with navbar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

.languageToggleButton {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.languageToggleButton:hover {
    background-color: #e68900;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
