.container {
    text-align: center;
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 60%;
    min-height: 85vh;
    margin: auto;
}

.head {
    color: #d9534f;
    margin-bottom: 20px;
    font-size: 30px;
}

.text {
    margin-bottom: 20px;
    font-size: 20px;
}

.homeButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.homeButton:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
